@{
    ViewBag.Title = "Phone";
}


<div class="dt">

    @Html.Action("mac", "Sanpham")
</div>
<div class="dt">

    @Html.Action("dell", "Sanpham")
</div>

<div class="dt">

    @Html.Action("asus", "Sanpham")
</div>
