@{
    ViewBag.Title = "Phone";
}


<div class="dt">

    @Html.Action("ipad", "Sanpham")
</div>
<div class="dt">

    @Html.Action("tabletsamsung", "Sanpham")
</div>

<div class="dt">

    @Html.Action("tabletxiaomi", "Sanpham")
</div>
